/* 기본 점 */
.swiper-pagination-bullet {
    background: black;
    opacity: 0.2;
}

/* 선택된 점 */
.swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}

/* 이전, 다음 버튼 */
.swiper-button-prev,
.swiper-button-next {
    color: white;
    opacity: 0.5;
}

/* 커스텀 버튼 */
.swiper-wrapper-custom {
    position: relative;
}


.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: white;
    opacity: 1;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: white;
    opacity: 0.5;
    color: black;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 1px 1px 5px;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 100%;
}

.prev-btn {
    left: 5px;
}

.next-btn {
    right: 5px;
}